<div>
    <h2>Home Page</h2>

    <ul>
        <li>
            <a href="/tor"> View TOR home page </a>
        </li>

        <li>
            <a href="/versions"> Versions</a>
        </li>

    </ul>




</div>