<!DOCTYPE html>
<html>
  <head>
    <title>Testing Pass</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>


    <%= erb :navbar %>

  </head>
  <body>
  <section class="section">
    <div class="container">

        <%= yield %>

    </div>
  </section>
  <hr/>
      <p class="footer">Copyright @ver 0.16, Time: <%= DateTime.now.strftime("%d/%b/%Y %H:%M") %>
  </p>
  </body>
</html>
