<p><%= "URL is [#{@url_to_fetch}]" %></p>
<p>
    <%= "Status is [#{@fd_response.status}] and success is [#{@fd_response.success?}] and Reason is [#{@fd_response.reason_phrase}]" %>
</p>

<pre>
<%= @fd_response.inspect %>

</pre>
<p><%= "body is [#{@fd_response.body}]" %></p>

